@import "tailwindcss";

@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color)
}

:root {
  --primary-color:#292929;
  --secondary-color:#E53935;
  /* --background-color   */
}